---
interface Props {
  imageSrc: string
  title: string
  description?: string
}

const { imageSrc, title, description } = Astro.props
---

<div class="card">
  <img
    src={imageSrc}
    class="card-image"
    width={80}
    height={80}
  />
  <div class="information">
    <h3>
      {title}
    </h3>
    {description && <p>
      {description}
    </p>}
  </div>
</div>

<style lang="scss">
  @import '../styles/global.scss';
  .card {
    border: 1px solid $gray-600;
    box-shadow: 0 1px 2px 0 $gray-200;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
  }

  .card-image {
    border-radius: 50%;
    object-fit: contain;
  }

  .information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
  }
</style>