---
interface Props {
  title: string,
  id?: string
}

const { title, id } = Astro.props
---

<section id={id}>
  <h2>
    {title}
  </h2>
  <slot/>
</section>

<style lang="scss">
  section {
    width: 100%;
    position: relative;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5rem 0;


    h2 {
      font-size: 4rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid black;
      width: 50%;
    }
  }
</style>