---
---

<div class="wrapper">
</div>

<style lang="scss">
  @import '../styles/global.scss';
  .wrapper {
    background: url("/assets/backgrounds/bg-main-light-1440w.jpg");
    width: 100%;
    height: calc(100vh - $nav-height);
  }

  @media screen and (min-width: $breakpoint-large) {
    .wrapper {
      height: 100vh;
    }
  }
</style>